.container ,#particles-js{
  z-index: 100;

  margin: auto;

  text-align: center

}

html {
  height:100%; 
  font-family: PingFangSC-Ultrathin, sans-serif;
  
}
body{
  /* z-index: -1; */
  margin: 0px;
}
canvas{
  background-image: linear-gradient(#1A0B75, #730A75);
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h2{
  font-size:10fr;
  color: azure;
  font-family: PingFangSC-Ultrathin, sans-serif;
  letter-spacing: 10px;
  margin-top: 30px;
}
#spin{
  margin:60px;
  width: 60%;
  text-align: center;
  max-width: 500px;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
#logo{
  position:absolute; 
  max-width: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 5%;
  margin: auto;
}
#spin_element{
  position: relative;; 
  z-index: 0;
}
#btn{
  padding: 10px;
  border-style:solid;
  border-width: 2px;
  border-color: azure;
  color: azure;
  font-family: PingFangSC, sans-serif;
  font-size: large;
  text-decoration: none;
  border-radius: 10px;


}
#btn:hover{
  /* background-color: blue; */
  color: blanchedalmond;
  border-color: blanchedalmond;
  z-index: 100;
  
}
.btn{
  /* margin-top: 20px; */
  /* margin-top: 100px; */
  padding: 3px 10px 3px 10px ;
  border-style:solid;
  border-width: 2px;
  border-color: azure;
  color: azure;
  font-family: PingFangSC, sans-serif;
  font-size: large;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;


}




.btn:hover{
  /* background-color: blue; */
  color: blanchedalmond;
  border-color: blanchedalmond;
  z-index: 100;
  
}
.card-link{

  color: azure;
  position: relative;

}

/* .card-link{
  z-index: 10000;
  width: 100%;
  color: azure;
  margin-top: 20px;
  text-decoration: none;
}
.card-link:hover,:link,:active,:visited{
  text-decoration: none;
  color: azure;
} */



#spin2{
  position:absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70%;
  max-width: 600px;
  animation-name: spin2;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  z-index: 0;
  opacity: 0.2;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
@keyframes spin2 {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(-360deg);
  }
}


.card-info{
  padding: 10px;
}
.mycard{
  z-index: 10;
  width: 100%;
  max-width: 180px;
}

.mycard:hover{
  
  transform: scale(1.02);
  box-shadow: 0px 20px 35px -6px black;
  transition: all .2s ease-in;
}


.card_container{
  z-index: 10;
  opacity: 1;
  margin: 5% 5% 2% 5%;
  display: flex;
 flex-wrap: wrap; 
 opacity: 1;
 justify-content: space-around;
}

.link_wrapper{

}

.title{
  margin: 30px;
}
.reveal_card{

  position: relative;
  z-index: 100;
  margin-top: 60px;
  max-width: 400px;
  width: 70%;
}


.card{
  padding: 5px;
  margin: auto 50px auto 50px ;;
  line-height:3em;
  color: azure;
  width: 40%;
  font-family: "Noto Sans TC";
}

.card-info{
  
}


.card-title{
  font-size:x-large;
}



@media (max-width:578px){
  .mycard{
    z-index: 10;
    width: 100%;
    max-width: 93px;
  }



}
@media (max-width:922px){

  .card{
    margin: auto;
    line-height:2em;
    color: azure;
    width: 100%;
    margin-top: 10px;

  }
  .reveal_card{
    z-index: 100;
    margin-top: 10px;
    max-width: 400px;
    width: 40%;

  }

}


/* #card1{
  --animate-delay: 0.1s;
}
#card2{
  --animate-delay: 0.3s;
}
#card3{
  --animate-delay: 0.5s;
}
#card4{
  --animate-delay: 0.7s;
}
#card5{
  --animate-delay: 0.9s;
}
#card6{
  --animate-delay: 1.1s;
}
#card7{
  --animate-delay: 1.3s;
} */

/* a{

  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */